{% extends 'adminlte/lib/_main_footer.html' %}

<footer class="main-footer">
    <div class="float-right d-none d-sm-block">
        {% block footer_right %}
        <b>Version</b> {% block version %}0.1{% endblock %}
        {% endblock %}
    </div>

    {% block footer_left %}

        {% block legal %}
            <strong>Copyright &copy; {% now "Y" %}</strong> 
            All rights reserved.
        {% endblock %}

    {% endblock %}
</footer>