<!DOCTYPE html>
{% extends 'adminlte/base.html' %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>
<body>
    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>

    {% block javascript %}
    {{ block.super }}
    {% endblock javascript %}
</body>
</html>